<%- include('header') -%>

    <div class="text-center center-div mt-5" id="login">
        <div class="container w-50 border py-5 mt-5">
            <h3>Welcome to Dashboard</h3>

            <a href="/register/logout">Logout</a>
        </div>

        <%- include('footer') -%>